<a class="text-slate-500 block" (click)="toggleDropdown($event)" #btnDropdownRef>
    <div *ngIf="userLogged | async as user" class="items-center flex">
        <h4 class="text-white mr-2"><b>{{user.email}}</b></h4>
        <span style="cursor: pointer;" class="w-12 h-12 text-sm text-white bg-slate-200 inline-flex items-center justify-center rounded-full">
      <img
        alt="..."
        
        class="object-cover h-full w-full rounded-full align-middle border-none shadow-lg"
        [src]="user.photoURL === null ? 'assets/img/profile.jpeg' : user.photoURL"
      />
    </span>
    </div>
</a>
<div class="min-w-48 z-50" #popoverDropdownRef>
    <div class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1 min-w-48" [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'">
        <a style="cursor: pointer" (click)="logout()" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-slate-700">
      Log Out
    </a>
    </div>
</div>