<!-- Header -->
<div class="relative bg-indigo-500 md:pt-32 pb-32 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
        <div class="mb-3">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                    <h3 class="font-semibold text-base text-white">
                        Messages Resume
                    </h3>
                </div>
                <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                    <button mat-button (click)="restartDyno()" class="bg-sky-500 text-white active:bg-sky-500 font-bold text-xs uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                        Restart Dyno
                      </button>
                    <button mat-button (click)="updateComponent()" class="bg-sky-500 text-white active:bg-sky-500 font-bold text-xs uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
              Update Metrics
            </button>
                    <button mat-button (click)="hideComponent()" class="bg-sky-500 text-white active:bg-sky-500 font-bold text-xs uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                {{shown ? "Hide Metrics" : "Show Metrics"}}
              </button>
                </div>
            </div>
        </div>
        <div *ngIf="shown">
            <!-- Card stats -->
            <div class="flex flex-wrap">
                <div class="mt-3 w-full lg:w-6/12 xl:w-3/12 px-4">
                    <app-card-stats statSubtitle="M:WhatsApp Session" statTitle="{{montly_sessions}}" statArrow="up" statPercent="3.48" statPercentColor="text-emerald-500" statDescripiron="Since last month" statIconName="fab fa-whatsapp" statIconColor="bg-emerald-500"></app-card-stats>
                </div>
                <div class="mt-3 w-full lg:w-6/12 xl:w-3/12 px-4">
                    <app-card-stats statSubtitle="T:WhatsApp Sessions" statTitle="{{today_sessions}}" statArrow="down" statPercent="3.48" statPercentColor="text-red-500" statDescripiron="Since last week" statIconName="fab fa-whatsapp" statIconColor="bg-emerald-500"></app-card-stats>
                </div>
                <div class="mt-3 w-full lg:w-6/12 xl:w-3/12 px-4">
                    <app-card-stats statSubtitle="M:Telegram MSG" statTitle="{{montly_telegram}}" statArrow="up" statPercent="12" statPercentColor="text-emerald-500" statDescripiron="Since last month" statIconName="fab fa-telegram-plane" statIconColor="bg-sky-500"></app-card-stats>
                </div>
                <div class="mt-3 w-full lg:w-6/12 xl:w-3/12 px-4">
                    <app-card-stats statSubtitle="T:Telegram MSG" statTitle="{{today_telegram}}" statArrow="up" statPercent="12" statPercentColor="text-emerald-500" statDescripiron="Since last month" statIconName="fab fa-telegram-plane" statIconColor="bg-sky-500"></app-card-stats>
                </div>
                <div class="mt-3 w-full lg:w-6/12 xl:w-6/12 px-4">
                    <app-card-stats statSubtitle="M:Total Orders" statTitle="{{montly_orders}}" statArrow="down" statPercent="1.10" statPercentColor="text-orange-500" statDescripiron="Since yesterday" statIconName="fas fa-users" statIconColor="bg-yellow-500"></app-card-stats>
                </div>
                <div class="mt-3 w-full lg:w-6/12 xl:w-6/12 px-4">
                    <app-card-stats statSubtitle="M:Payment Links" statTitle="{{montly_links}}" statArrow="up" statPercent="12" statPercentColor="text-emerald-500" statDescripiron="Since last month" statIconName="fas fa-link" statIconColor="bg-pink-500"></app-card-stats>
                </div>

            </div>
        </div>
    </div>
</div>