<div *ngIf="data.update == true; then thenBlock else elseBlock">
</div>
<ng-template #thenBlock>
    <h4 mat-dialog-title>Update Poc</h4>
    <mat-dialog-content class="mat-typography">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="row g-3">
            <div class="col-md-6 mt-2">
                <label for="pocId" class="form-label">Poc ID</label>
                <input type="text" name="pocId" [(ngModel)]="data.pocId" required class="form-control" id="pocId" readonly="readonly" />
            </div>
            <div class="col-md-6 mt-2">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" [(ngModel)]="data.name" required class="form-control" id="name" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" name="phone" [(ngModel)]="data.phone" required class="form-control" id="name" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="direction" class="form-label">Direction</label>
                <input type="text" name="direction" [(ngModel)]="data.direction" required class="form-control" id="name" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="pocPayphone" class="form-label">Poc payphone Number</label>
                <input type="text" name="pocPayphone" [(ngModel)]="data.payphone" required class="form-control" id="pocPayphone" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="groupId" class="form-label">Poc group Id Number</label>
                <input type="text" name="pocGroupId" [(ngModel)]="data.groupId" required class="form-control" id="groupId" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="city" class="form-label">City</label>
                <input type="text" name="city" [(ngModel)]="data.city" required class="form-control" id="city" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="tchatId" class="form-label">Telegram chat Id</label>
                <input type="text" name="tchatId" [(ngModel)]="data.tchatId" required class="form-control" id="tchatId" />
            </div>
            <div class="col-md-12 mt-3 mb-3">
                <button class="btn btn-secondary" type="button" mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
                <button type="submit" style="margin-left: 5px;" class="btn btn-success" value="submit" mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
            </div>
        </form>
    </mat-dialog-content>
</ng-template>
<ng-template #elseBlock>
    <h4 mat-dialog-title>Add Poc</h4>
    <mat-dialog-content class="mat-typography">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="row g-3">
            <div class="col-md-6 mt-2">
                <label for="pocId" class="form-label">Poc ID</label>
                <input type="text" name="pocId" ngModel required class="form-control" id="pocId" />
            </div>
            <div class="col-md-6 mt-2">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" ngModel required class="form-control" id="name" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" name="phone" ngModel required class="form-control" id="name" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="direction" class="form-label">Direction</label>
                <input type="text" name="direction" ngModel required class="form-control" id="name" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="pocPayphone" class="form-label">Poc payphone Number</label>
                <input type="text" name="pocPayphone" ngModel required class="form-control" id="pocPayphone" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="groupId" class="form-label">Poc group Id Number</label>
                <input type="text" name="pocGroupId" ngModel required class="form-control" id="groupId" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="city" class="form-label">City</label>
                <input type="text" name="city" ngModel required class="form-control" id="city" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="tchatId" class="form-label">Telegram chat Id</label>
                <input type="text" name="tchatId" ngModel required class="form-control" id="tchatId" />
            </div>
            <div class="col-md-12 mt-3 mb-3">
                <button class="btn btn-secondary" mat-button (click)="onNoClick()">Cancel</button>
                <button type="submit" style="margin-left: 5px;" class="btn btn-success" value="submit" mat-button cdkFocusInitial>Save</button>
            </div>
        </form>
    </mat-dialog-content>
</ng-template>