<div class="countdown">
    <div class="container text-center mt-32">
        <img src="assets/img/fiestacerca_logo_blanco.png" alt="fiestacerca" class="image_center">
        <h1 style="font-size: 2.5rem; margin-bottom: 10px;" class="text-white text-2xl uppercase tracking-widest">
            Ahora es
        </h1>

        <img src="assets/img/tada-logo.png" alt="fiestacerca" class="image_center" style="height: 7rem;margin-bottom: 1rem;">

        <h2 class="text-white text-2xl uppercase tracking-widest" style="font-family:Montserrat; font-size: 14px">Actualiza tu app y disfruta un mágico <span style="font-size: 1.8rem; font-family: Bright;">30%</span> off en tu siguiente pedido con el cupón</h2>

        <div class="mt-10 flex justify-center gap-3 md:gap-8">
            <h2 class="text-white text-2xl uppercase tracking-widest" style="font-size:3.5rem">TADA30</h2>
        </div>
    </div>
</div>