<div class="countdown box">
    <div class="box-inner">
        <div class="container text-center" style="margin-top: 3rem">
            <img src="assets/img/fiestacerca_logo_blanco.png" alt="fiestacerca" class="image_center">
            <h1 style="font-size: 2.5rem; margin-bottom: 40px;" class="text-white text-2xl uppercase tracking-widest">
                Se está llenando de ✨magia✨
            </h1>

            <h2 class="text-white text-2xl uppercase tracking-widest" style="font-family:Montserrat; font-size: 14px">Pronto tendremos un nuevo nombre</h2>

            <div class="mt-10 flex justify-center gap-3 md:gap-8">
                <div>
                    <div class="rounded-lg shadow-xl bg-secondaryDark w-20 h-20 md:w-32 md:h-32 lg:w-40 lg:h-40 flex items-center justify-center relative">
                        <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -left-2"></div>
                        <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -right-2"></div>

                        <h1 class="text-primary text-3xl sm:text-4xl md:text-6xl lg:text-7xl"> {{daysToDday}} </h1>
                    </div>
                    <h5 class="uppercase text-white mt-5 text-xs sm:text-sm lg:text-lg">
                        Días
                    </h5>
                </div>

                <div>
                    <div class="rounded-lg shadow-xl bg-secondaryDark w-20 h-20 md:w-32 md:h-32 lg:w-40 lg:h-40 flex items-center justify-center relative">
                        <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -left-2"></div>
                        <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -right-2"></div>

                        <h1 class="text-primary text-3xl sm:text-4xl md:text-6xl lg:text-7xl"> {{hoursToDday}}</h1>
                    </div>
                    <h5 class="uppercase text-white mt-5 text-xs sm:text-sm lg:text-lg">
                        Horas
                    </h5>
                </div>

                <div>
                    <div class="rounded-lg shadow-xl bg-secondaryDark w-20 h-20 md:w-32 md:h-32 lg:w-40 lg:h-40 flex items-center justify-center relative">
                        <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -left-2"></div>
                        <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -right-2"></div>

                        <h1 class="text-primary text-3xl sm:text-4xl md:text-6xl lg:text-7xl"> {{minutesToDday}}</h1>
                    </div>
                    <h5 class="uppercase text-white mt-5 text-xs sm:text-sm lg:text-lg">
                        Minutos
                    </h5>
                </div>

                <div>
                    <div class="rounded-lg shadow-xl bg-secondaryDark w-20 h-20 md:w-32 md:h-32 lg:w-40 lg:h-40 flex items-center justify-center relative">
                        <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -left-2"></div>
                        <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -right-2"></div>

                        <h1 class="text-primary text-3xl sm:text-4xl md:text-6xl lg:text-7xl">{{secondsToDday}}</h1>
                    </div>
                    <h5 class="uppercase text-white mt-5 text-xs sm:text-sm lg:text-lg">
                        Segundos
                    </h5>
                </div>
            </div>

            <img src="assets/img/sombrero.gif" alt="fiestacerca" class="image_center" style="margin-top: -10rem; height: 40rem;">

        </div>
    </div>
</div>

<!-- <video autoplay muted loop id="myVideo">
    <source src="assets/img/countdown.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

<div class="content">
    <div class="mt-10 flex justify-center gap-3 md:gap-8">
        <div>
            <div class="rounded-lg shadow-xl bg-secondaryDark w-20 h-20 md:w-32 md:h-32 lg:w-40 lg:h-40 flex items-center justify-center relative">
                <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -left-2"></div>
                <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -right-2"></div>

                <h1 class="text-primary text-3xl sm:text-4xl md:text-6xl lg:text-7xl"> {{daysToDday}} </h1>
            </div>
            <h5 class="uppercase text-white mt-5 text-xs sm:text-sm lg:text-lg">
                Días
            </h5>
        </div>

        <div>
            <div class="rounded-lg shadow-xl bg-secondaryDark w-20 h-20 md:w-32 md:h-32 lg:w-40 lg:h-40 flex items-center justify-center relative">
                <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -left-2"></div>
                <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -right-2"></div>

                <h1 class="text-primary text-3xl sm:text-4xl md:text-6xl lg:text-7xl"> {{hoursToDday}}</h1>
            </div>
            <h5 class="uppercase text-white mt-5 text-xs sm:text-sm lg:text-lg">
                Horas
            </h5>
        </div>

        <div>
            <div class="rounded-lg shadow-xl bg-secondaryDark w-20 h-20 md:w-32 md:h-32 lg:w-40 lg:h-40 flex items-center justify-center relative">
                <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -left-2"></div>
                <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -right-2"></div>

                <h1 class="text-primary text-3xl sm:text-4xl md:text-6xl lg:text-7xl"> {{minutesToDday}}</h1>
            </div>
            <h5 class="uppercase text-white mt-5 text-xs sm:text-sm lg:text-lg">
                Minutos
            </h5>
        </div>

        <div>
            <div class="rounded-lg shadow-xl bg-secondaryDark w-20 h-20 md:w-32 md:h-32 lg:w-40 lg:h-40 flex items-center justify-center relative">
                <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -left-2"></div>
                <div class="bg-veryDarkBlue w-3 h-3 rounded-lg absolute -right-2"></div>

                <h1 class="text-primary text-3xl sm:text-4xl md:text-6xl lg:text-7xl">{{secondsToDday}}</h1>
            </div>
            <h5 class="uppercase text-white mt-5 text-xs sm:text-sm lg:text-lg">
                Segundos
            </h5>
        </div>
    </div>
</div> -->