<div *ngIf="is_loaded">
    <div class="w-full xl:w-12/12 px-4">
        <button class="bg-sky-500 text-white active:bg-sky-500 font-bold text-xs uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">Select Date</button>
    </div>
    <div class="flex flex-wrap">
        <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
            <app-card-line-chart [sales]="sales_data"></app-card-line-chart>
        </div>
        <!-- <div class="w-full xl:w-4/12 px-4">
            <app-card-bar-chart></app-card-bar-chart>
        </div> -->
    </div>
    <div class="flex flex-wrap mt-4">
        <div class="w-full xl:w-12/12 px-4 mb-12 xl:mb-0">
            <app-card-bot-traffic [bot]="data_bot"></app-card-bot-traffic>
        </div>
        <div class="w-full xl:w-12/12 px-4">
            <app-card-social-traffic [sales]="sales_data"></app-card-social-traffic>
        </div>
        <div class="w-full xl:w-12/12 px-4">
            <app-card-page-visits [sales]="sales_data" [sessions]="data_bot"></app-card-page-visits>
        </div>

    </div>
</div>